@charset "UTF-8";
* {
  outline: none; }

html, body, ul, ol, dl, li, dt, dd, p, form, input, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

html, body {
  font-size: 12px;
  font-family: "Microsoft YaHei",Verdana,Geneva,sans-serif,宋体; }

body {
  background-color: #f5f5f5;
  color: #474747;
  min-width: 1300px; }

b, strong, i, em, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-style: normal; }

img {
  border: none; }

a {
  text-decoration: none;
  color: #666; }

ul, ol, li {
  list-style: none; }

.clear:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
  visibility: hidden; }

.wrap {
  width: 1190px;
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.cf {
  zoom: 1; }

/* header_top */
.header_top {
  height: 33px;
  background-color: #474747;
  color: #CCC; }

.header_top a {
  color: #CCC; }

.header_top .top {
  height: 33px;
  width: 1190px;
  margin: 0 auto;
  line-height: 33px; }

.header_top .top .shopCar {
  width: 138px;
  position: relative;
  z-index: 2; }

.header_top .top .shopCar a {
  height: 33px;
  line-height: 33px;
  background-color: #1e1e1e;
  text-align: center;
  cursor: pointer;
  display: block;
  color: #666; }

.header_top .top .shopCar a .iconfont, .count {
  color: #db313e; }

.header_top .top dl {
  margin: 0px 35px 0 0; }

.header_top .top .oder {
  width: 125px; }

.header_top .top dt, .header_top .top dd {
  padding: 0 7px; }

.header_top .top dl dt {
  border-right: 1px solid #666;
  height: 11px;
  line-height: 11px;
  margin-top: 11px; }

.header_top .top a:hover {
  color: #fff; }

.header_top .top .shopCar a:hover {
  background: #db313e; }

.header_top .top .shopCar a:hover .iconfont, a:hover .count {
  color: #fff; }

.header_top .top .shopCar .cart_list {
  overflow: hidden;
  height: 0px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  position: absolute;
  top: 33px;
  right: 0;
  width: 350px;
  background-color: #fafafa;
  z-index: 1;
  box-shadow: 0 2px 3px #CCC; }

.header_top .top .shopCar .cart_list .list_null {
  padding: 45px 0 37px 0;
  text-align: center;
  font-size: 14px;
  color: #666; }

/* header_nav */
.header_nav {
  height: 101px;
  background-color: #FFF;
  border-bottom: 3px solid #de2f3c;
  box-shadow: 0 3px 3px #CCC; }

.header_nav .nav {
  width: 1190px;
  margin: 0 auto;
  height: 101px; }

.header_nav .nav .logo {
  width: 183px;
  text-align: center;
  height: 72px;
  padding-top: 29px;
  background-color: #c20315;
  margin-bottom: -3px;
  display: block; }

.header_nav .nav .shop {
  margin: 37px 0 0 34px;
  display: block; }

.header_nav .nav .menu {
  position: relative;
  width: 175px;
  margin-left: 50px;
  text-indent: 19px;
  z-index: 1; }

.header_nav .nav .menu .text {
  height: 101px;
  line-height: 101px;
  font-size: 15px;
  cursor: pointer; }

.header_nav .nav .menu .select_menu {
  position: absolute;
  top: 101px;
  left: 0;
  display: block;
  width: 100%;
  font-size: 14px;
  background-color: #FFF;
  box-shadow: 0 2px 3px #CCC; }

.header_nav .nav .menu .select_menu .ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block; }

.header_nav .nav .menu .select_menu li {
  position: relative;
  display: none; }

.header_nav .nav .menu .select_menu li a {
  display: block;
  width: 155px;
  padding-right: 20px;
  height: 40px;
  line-height: 40px;
  background-color: #FFF;
  color: #474747;
  position: relative;
  left: -19px; }

.header_nav .nav .menu .select_menu li a em {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 6px;
  height: 10px;
  overflow: hidden;
  background: url(../images/base.png) no-repeat -54px 0; }

.header_nav .nav .menu .select_menu li dl {
  display: none;
  overflow: hidden;
  height: 0;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  position: absolute;
  top: 0;
  left: 175px; }

.header_nav .nav .menu .select_menu li dl dd a {
  background: #f5f5f5;
  margin-left: 15px; }

.header_nav .nav .menu .select_menu li dl dd a:hover {
  background: white; }

.header_nav .nav .ul {
  margin-top: 40px; }

.header_nav .nav .ul li {
  float: left;
  padding: 0 15px;
  font-size: 15px; }

.header_nav .nav .ul li a {
  color: #474747; }

.header_nav .nav .ul li a:hover {
  color: #e90404; }

.header_nav .search {
  position: relative;
  width: 320px;
  height: 41px;
  margin-top: 30px;
  z-index: 1; }

.header_nav .search .text {
  float: left;
  width: 263px;
  height: 39px;
  line-height: 39px;
  padding: 0 5px;
  border: 1px solid #CCC;
  border-right: 0; }

.header_nav .search .focus {
  width: 262px;
  height: 37px;
  line-height: 37px;
  border: 2px solid #e32332;
  border-right: 0;
  outline: none;
  padding: 0 5px; }

.header_nav .search .btn {
  float: right;
  width: 46px;
  height: 41px;
  border: 0;
  background: #e32332 url(../images/search.png) no-repeat center;
  cursor: pointer; }

.header_nav .search .btn:hover {
  background: #a5010f url(../images/search.png) no-repeat center; }

.header_nav .search .content {
  position: absolute;
  top: 1px;
  right: 56px;
  height: 30px;
  padding-top: 9px; }

.header_nav .search .content .content_a {
  display: inline-block;
  padding: 3px 5px;
  background-color: #EEE;
  color: #474747; }

.header_nav .search .content .content_a:hover {
  color: #db313e; }

/* nav_bar */
.nav_bar {
  height: 44px;
  line-height: 44px;
  background-color: #f5f5f5;
  color: #666; }
  .nav_bar a {
    padding-right: 3px; }

/* shopcar */
.shop .cart_null2 {
  height: 300px;
  line-height: 300px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #FFF;
  color: #666;
  text-align: center; }
  .shop .cart_null2 span {
    display: inline-block;
    width: 80px;
    height: 60px;
    margin-right: 14px;
    background: url(../images/base.png) no-repeat -78px -132px;
    vertical-align: -11px; }
  .shop .cart_null2 a {
    padding: 0 5px;
    color: #e90404; }

.shop .likes {
  margin-bottom: 62px;
  background-color: #FFF; }
  .shop .likes .nav {
    padding: 17px 0;
    margin-bottom: 39px;
    border-bottom: 1px solid #e0e0e0; }
    .shop .likes .nav ul {
      zoom: 1;
      overflow: hidden; }
      .shop .likes .nav ul li {
        height: 25px;
        line-height: 25px;
        margin-left: -1px;
        float: left;
        padding: 0 63px;
        border-left: 1px solid #e0e0e0;
        font-size: 18px;
        color: #666;
        cursor: pointer; }
        .shop .likes .nav ul li:hover {
          color: #e90404; }
  .shop .likes .like {
    overflow: hidden;
    position: relative;
    width: 1190px; }
    .shop .likes .like .content {
      width: 1190px;
      left: 0px;
      position: relative;
      overflow: hidden;
      padding: 0px;
      margin: 0px;
      height: 282px; }
      .shop .likes .like .content ul {
        float: left;
        width: 1080px;
        margin-left: 55px; }
        .shop .likes .like .content ul li {
          float: left;
          width: 158px;
          padding: 12px 10px;
          border: 1px solid #FFF;
          text-align: center; }
          .shop .likes .like .content ul li:hover {
            border-color: #e32332; }
          .shop .likes .like .content ul li div {
            height: 20px;
            width: 100px;
            background: gainsboro;
            margin: 10px auto;
            line-height: 20px;
            cursor: pointer;
            border: 1px solid #999; }
            .shop .likes .like .content ul li div:hover {
              background: #e90404;
              color: white;
              border: 1px solid #e32332; }
        .shop .likes .like .content ul img {
          width: 120px;
          height: 120px; }
        .shop .likes .like .content ul .name {
          margin: 11px 0 6px 0;
          color: #666;
          max-height: 36px;
          overflow: hidden;
          overflow-wrap: break-word;
          word-break: break-all; }
        .shop .likes .like .content ul .price {
          color: #e90404; }

.shop .cart_list2 {
  margin-bottom: 43px; }
  .shop .cart_list2 span.checkbox label.curr {
    background: #e32332 url(../images/base.png) no-repeat -78px -100px;
    border-color: #e32332; }
    .shop .cart_list2 span.checkbox label.curr:hover {
      background: #fff url(../images/base.png) no-repeat -78px -116px; }
  .shop .cart_list2 span.checkbox label {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #d4d4d4;
    cursor: pointer; }
  .shop .cart_list2 td {
    background-color: #FFF;
    border-bottom: 1px solid #ededed;
    text-align: center; }
  .shop .cart_list2 table {
    width: 100%; }
    .shop .cart_list2 table thead td {
      height: 54px;
      font-size: 14px;
      color: #666; }
    .shop .cart_list2 table thead .state {
      width: 111px; }
      .shop .cart_list2 table thead .state span {
        margin-right: 10px; }
      .shop .cart_list2 table thead .state .checkbox {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: middle; }
    .shop .cart_list2 table thead .num {
      width: 200px; }
    .shop .cart_list2 table thead .prices {
      width: 150px; }
    .shop .cart_list2 table thead .operation {
      width: 150px; }
    .shop .cart_list2 table tbody tr .state .checkbox {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 18px;
      vertical-align: middle; }
    .shop .cart_list2 table tbody tr dl {
      float: left;
      margin: 29px 0; }
      .shop .cart_list2 table tbody tr dl dt img {
        width: 72px;
        height: 72px;
        border: 1px solid #ddd; }
      .shop .cart_list2 table tbody tr dl dd {
        text-align: left;
        margin-left: 18px; }
        .shop .cart_list2 table tbody tr dl dd h1 {
          width: 486px;
          display: block;
          font-size: 14px;
          color: #424242; }
          .shop .cart_list2 table tbody tr dl dd h1 a {
            color: #424242;
            max-width: 400px;
            height: 20px;
            overflow: hidden;
            float: left;
            margin-right: 5px; }
    .shop .cart_list2 table tbody tr .amount {
      display: inline-block;
      width: 78px;
      height: 22px;
      border: 1px solid #e0e0e0;
      vertical-align: middle;
      margin-right: 0; }
      .shop .cart_list2 table tbody tr .amount span {
        display: inline-block;
        width: 23px;
        height: 22px;
        vertical-align: middle;
        cursor: pointer; }
      .shop .cart_list2 table tbody tr .amount .reduce {
        background: url(../images/base.png) no-repeat -234px -97px; }
      .shop .cart_list2 table tbody tr .amount input {
        width: 32px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        border: 0;
        vertical-align: middle;
        font-size: 12px;
        ime-mode: disabled; }
      .shop .cart_list2 table tbody tr .amount .plus {
        background: url(../images/base.png) no-repeat -233px -132px; }
    .shop .cart_list2 table tbody tr .price {
      font-size: 20px;
      color: #e90404; }
    .shop .cart_list2 table tbody tr .del {
      display: inline-block;
      width: 22px;
      height: 20px;
      padding-top: 2px;
      border-radius: 11px;
      cursor: pointer; }
      .shop .cart_list2 table tbody tr .del span {
        display: inline-block;
        width: 8px;
        height: 8px;
        overflow: hidden;
        background: url(../images/base.png) no-repeat -292px 0; }
    .shop .cart_list2 table tbody tr .del:hover {
      background-color: #e32332; }
    .shop .cart_list2 table tbody tr .del:hover span {
      background-position: -292px -20px; }
  .shop .cart_list2 .total_bar {
    margin-top: 5px;
    height: 90px;
    line-height: 90px;
    padding: 0 32px 0 28px;
    background-color: #FFF;
    font-size: 14px;
    color: #666; }
    .shop .cart_list2 .total_bar .left label {
      cursor: pointer; }
    .shop .cart_list2 .total_bar .left span {
      margin-right: 10px; }
    .shop .cart_list2 .total_bar .left a {
      margin-left: 22px; }
    .shop .cart_list2 .total_bar .left span.checkbox {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 18px;
      vertical-align: middle; }
    .shop .cart_list2 .total_bar .right {
      position: relative; }
      .shop .cart_list2 .total_bar .right .btn {
        width: 188px;
        height: 50px;
        margin-left: 20px;
        font-size: 18px;
        border: 0;
        cursor: pointer;
        color: #FFF;
        background-color: #e32332; }
      .shop .cart_list2 .total_bar .right span {
        margin: 0 7px;
        color: #e90404; }
      .shop .cart_list2 .total_bar .right #num {
        font-size: 24px; }

/* bottom */
.about {
  padding: 23px 0 40px;
  background-color: #FFF;
  margin-top: 40px; }

.about .wrap {
  width: 1190px;
  margin: 0 auto; }

.about .wrap ul {
  margin-bottom: 20px;
  height: 45px; }

.about .wrap ul li {
  float: left;
  width: 297px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  border-right: 1px solid #e9e9e9;
  color: #999; }

.about .wrap ul .return {
  width: 296px;
  border-right: 0; }

.about .wrap ul li span {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background: url(../images/about.png) no-repeat;
  vertical-align: middle; }

.about .wrap ul .shopping span {
  background-position: -45px 0; }

.about .wrap ul .logistics span {
  background-position: -90px 0; }

.about .wrap ul .return span {
  background-position: -135px 0; }

.about .wrap .link {
  padding-top: 40px;
  border-top: 1px solid #e9e9e9;
  height: 160px; }

.about .wrap .link dl {
  float: left;
  width: 298px;
  text-indent: 110px; }

.about .wrap .link dl dt {
  height: 35px;
  font-size: 14px; }

.about .wrap .link dl dd {
  position: relative;
  height: 24px; }

.about .wrap .link dl dd a {
  color: #999; }

.about .wrap .tip_a .tip {
  display: none;
  position: absolute;
  top: 30px;
  left: 49px;
  padding: 10px 20px;
  line-height: 22px;
  font-size: 14px;
  background-color: #FFF;
  border: 1px solid #f5f5f5;
  color: #666;
  box-shadow: 0 3px 3px #CCC;
  text-indent: 0;
  white-space: nowrap; }

.about .wrap .link .contact {
  min-height: 115px;
  width: 227px;
  padding-left: 67px;
  border-left: 1px solid #e9e9e9; }

.about .wrap .link .contact .tel {
  font-size: 24px;
  font-family: Arial; }

.about .wrap .link .contact .time {
  padding: 16px 0 24px 0;
  font-size: 14px;
  color: #999; }

.about .wrap .link .contact .kf {
  display: block;
  width: 154px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ea0f1f;
  font-size: 16px;
  border: 1px solid #ff5353;
  border-radius: 3px; }

.about .wrap .link .contact .kf span {
  display: inline-block;
  width: 18px;
  height: 15px;
  margin-right: 6px;
  background: url(../images/base.png) no-repeat -188px 0;
  vertical-align: middle; }

.about .wrap .link .contact .kf:hover {
  background-color: #e32331;
  border-color: #e32331;
  color: #FFF; }

.about .wrap .link .contact .kf:hover span {
  background-position: -240px 0; }

.about .wrap .link .contact .tsjb {
  text-indent: 50px;
  text-indent: 50px;
  font-size: 14px;
  color: #474747;
  padding: 16px 0 0;
  display: block; }

/* copyright */
.copyright {
  padding: 25px 0 30px 0;
  text-align: center; }
  .copyright .wrap {
    width: 1190px;
    margin: 0 auto; }
    .copyright .wrap ul {
      width: 825px;
      margin: 0 auto;
      overflow: hidden; }
      .copyright .wrap ul li {
        float: left;
        width: 70px;
        text-align: center;
        height: 12px;
        line-height: 12px;
        border-right: 1px solid #DDD;
        text-align: center;
        margin-right: -1px; }
        .copyright .wrap ul li a {
          outline: 0;
          color: #666; }
    .copyright .wrap .text {
      padding: 24px 0 15px 0;
      color: #999; }
      .copyright .wrap .text a {
        color: #666;
        outline: 0; }
    .copyright .wrap .link a {
      margin: 0 3px; }
